#contact {
background:url("../images/bg_contact.jpg") no-repeat scroll center 0 transparent;
}

#contact .relevant_list li { 
margin:0 39px 10px 0; 
}
#contact .intro_list li.last, .relevant_list li.last {
margin:0 ! important;
}
#contact .intro_list, .relevant_list { 
    font:11px Meiryo;
    padding:18px 5px 0; }
    
#contact .left-menu {
    background:url("../images/bg_cnt-leftmenu.png") no-repeat scroll 0 0 transparent;  
    float:left;
    margin:0 0 30px 2px;
    padding:43px 12px 0;
    width:200px;
    min-height:260px;
}

#contact .footer-ul02 { 
    width:156px;}
    
#contact .introduction01{
    background:url("../images/bg_box-top.png") no-repeat scroll 0 0 transparent; 
    padding:20px 0 0;
    width:716px;   } 

#contact .introduction02{
    background:url("../images/bg_box-bot.png") no-repeat scroll 0 bottom transparent;
    padding:0 0 20px;
    width:716px;}

#contact .introduction03{
    background:url("../images/bg_box-read.png") repeat-y scroll 0 0 transparent;
    padding:0 15px;
    width:686px;}

#contact .left-column { 
    font:11px Meiryo;}  

.cnsl_cntr02{
    min-height:194px;}
    
.cnsl_cntr03{
    padding-bottom:26px;}

.cnt_counsel-ul01{
    width:170px;
    padding:0 0 0 20px;
	text-align: left;
    font:11px Meiryo;}

.cnt_counsel-ul01 li{
    background:url("../images/btn_cnsl-dt.png") no-repeat scroll 0 3px transparent;
    float:left; 
    padding:0 0 9px 12px;
    width:168px;
    } 
    
.cnt_counsel-ul01 li ul li{
    background:url("../images/btn_cnsl-dt02.png") no-repeat scroll 0 3px transparent;}
    
.cnt_counsel-ul01 li ul{
    padding:7px 0 0;}

.cnt_counsel-ul01 li a{
    color:#4a2d03;
    text-decoration:none;}    
    
/*btn_cnsl-dt02*/    

.contact-div01{
    font:12px Meiryo;}
    
.contact-img01{
    margin:25px 0 0;}
    
.contact-form-div{
    width:675px;
    padding:20px 0 80px 40px;    
    position:relative;
    color:#5c5c5b;}
    
.cnt-red{
    color:red ! important;}
    
.cnt-frm-a01{
    background:url("../../images/contact-fm-dt.png") no-repeat scroll 0 5px transparent;
    padding:0 20px 0 10px;
    font:12px Meiryo;
    color:#5c5c5b;}
    
.contact-form-div p{
    float:left;}
    
.cnt-p01{
    padding:30px 0 45px 35px;
    width:500px;}
    
.contact-div02{
    width:675px;
    padding:0 0 0 35px;}
    
.cnt-span01{
    color:#dba344;
    font-weight:bold;}
 
.cnt-span02{ 
    font:13px Meiryo;}
 
.contact-div02 p{
    float:left;
    padding:12px 0 0 11px;
    width:629px;}
    
.contact-div03{ 
    padding:28px 0 0;}
    
.contact-div04{ 
    padding:32px 0 0;}

.contact-div05{ 
    padding:32px 0 0;}
 
.contact-div06{ 
    padding:38px 0 0;}
    
.cnt-bt-div01{
    background:url("../../images/cnt-bt-top.png") no-repeat scroll 0 top transparent;
    width:671px;
    padding:17px 0 0;}
    
.cnt-bt-div02{
    background:url("../../images/cnt-bt-bot.png") no-repeat scroll 0 bottom transparent;
    width:671px;
    padding:0 0 17px; }
    
.cnt-bt-div03{
    background:url("../../images/cnt-bt-read.png") repeat-y scroll 0 0 transparent;
    width:633px;
    padding:0 0 0 37px;}
    
.cnt-bt-div03 span{
    font:bold 14px Meiryo;
    color:#52291a;}
    
.cnt-bt-ul01{
    width:580px;
    color:#52291a;
    font:12px Meiryo;}

.cnt-bt-ul01 li{
    float:left;
    width:580px;}
    
.cnt-bt{
    min-height:175px;
    position:relative;
    margin:45px 0 85px;
    width:715px;}
    
.cnt-table01{
    width:550px;
    margin:55px 0 0 ; } 
    
.cnt-table01 tr{    
    
    float:left;} 
    
.cnt-table01 tr td{
    text-align:left;
    float:left;}

.cnt-tb01-td01{
    
    width:158px;}   

.cnt-tb01-td02{
    width:390px; }    
    
.frm-txt01{
    width:200px;}
    
.frm-txt02{
    width:40px;}
    
.cnt-tb01-slct{
    width:98px;}
    
.frm-txt03{
    width:325px;}
    
.cnt-tb01-ul01 {
    font:12px Meiryo;}
    
.cnt-tb01-ul01 li input{
    margin:0 6px 0 0;
    padding:0 0 9px;}
    
.cnt-table01 input, select,textarea{
    border:1px solid #CCCCCC;}
    
.cnt-table01 textarea{
    width:400px;}
    
.cnt-tb01-btn{
    width:250px;
    margin:18px 0 0;}
    
.border-none{
    border: none ! important;}
    
.cnt-tb01-td03{
    width:390px; 
    text-align:center ! important;} 
    
.cnt-td1{
    padding:10px 0 0;}

.cnt-td2{
    padding:10px 0 0;}

.cnt-td3{
    padding:12px 0 0;}

.cnt-td4{
    padding:13px 0 0;}

.cnt-td5{
    padding:13px 0 0;}

.cnt-td6{
    padding:14px 0 0;}

.cnt-td7{
    padding:14px 0 0;}

.cnt-td8{
    padding:14px 0 0;}

.cnt-td9{
    padding:14px 0 0;}

.cnt-td10{
    padding:21px 0 0;}

.cnt-td11{
    padding:40px 0 0;}

.cnt-td12{
    padding:8px 0 0;}
   
#contact .page_top {
	margin: 15px 15px 0 0;
	float: right;
}

#contact .btn_contact {
	margin: 40px 0 20px;
}