@charset "utf-8";
/* CSS Document */
.page-content{
	color:#8b8b8b;
	line-height: 19px;
}
.vol1{
	margin-bottom: 75px;
	float: left;
}
.topheading{
	float:left;
}
.leftside, .rightside{
	float:left;
}
.vol1 .leftside{	
	padding-top: 65px;
}
.vol1 .rightside{	
	padding-top: 65px;
	padding-left: 64px;
}
.vol1 .text{
	padding-top: 22px;
	padding-bottom: 100px;
}
.vol1 .text2{
	background: url(image/vol1btmtextbg.jpg) no-repeat 5px 4px transparent;
	float:left;
	padding-left: 17px;
}
.vol2 .leftside{
	padding-top: 24px;
}
.vol2 .rightside{
	padding-top: 12px;
}
.vol2 .text{
	padding-left: 16px;
}
.vol3 .topheading{
	margin-top: 72px;
}

.vol3 .rightside{
	padding-top:12px;
}
.vol3 .leftside{
	padding-top:12px;
}
.vol3 .text{
	padding-bottom: 26px;
}
.vol3 .btnlink{
	margin-left: 88px;
}
.vol4 .topheading{
	margin-top:60px;	
}
.vol4 .btnlink{
	margin-bottom: 0px;
float: right;
position: absolute;
margin-left: 429px;
margin-top: 7px;
}
.vol4 .leftside{
	margin-right: 28px;
	width: 346px;
}
.vol4 .rightside{
	width: 346px;
}
.vol4 .leftside a, .vol4 .rightside a{
	margin-bottom: 7px;
float: left;
}
.vol4 .heading2{
	float: left;
	margin-top: 81px;
}