body {
color: #222222;
font-size: 75%;
font-family: "メイリオ","meiryo",Verdana,"Hiragino Kaku Gothic Pro W3","MS UI Gothic";
text-align:center;
}

*html body {
	font-family: "メイリオ","meiryo","ＭＳ Ｐゴシック",Verdana,"Hiragino Kaku Gothic Pro W3","MS UI Gothic";
}

/*=========================================
ALL
===========================================*/






/*=========================================
MAIN CONTENTS
===========================================*/
#main{

}

#contents{

}



/*=========================================
HEADER
===========================================*/

#header{

}




/*=========================================
MAIN MENU
===========================================*/

#main_menu {

}


/*=========================================
SIDE MENU
===========================================*/

#side_menu {

}

/*=========================================
FOOTER
===========================================*/